node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.local
.env.vercel
.env.vercel.prod
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

# Convex - keep _generated for TypeScript types
# convex/_generated
.vercel
